<li<%= value === 'inicio' ? ' class=active' : '' %>>
    <a href="/terranorte/inicio">
        <i class="fa fa-file-text-o" aria-hidden="true"></i> <span>Informe General</span>
    </a>
</li>
<!--
<li<%=// value === 'detallado' ? ' class=active' : '' %>>
    <a href="/terranorte/informe/detallado">
        <i class="fa fa-file-text-o" aria-hidden="true"></i> <span>Informe Detallado</span>
    </a>
</li>
-->
<li<%= value === 'seguimiento' ? ' class=active' : '' %>>
    <a href="/terranorte/seguimiento">
        <i class="fa fa-globe" aria-hidden="true"></i> <span>Seguimiento</span>
    </a>
</li>
<li<%= value === 'pedidos' ? ' class=active' : '' %>>
    <a href="/terranorte/transporte/pedidos">
        <i class="fa fa-cube" aria-hidden="true"></i> <span>Pedidos</span>
    </a>
</li>
<li<%= value === 'entregas' ? ' class=active' : '' %>>
    <a href="/terranorte/transporte/entregados">
        <i class="fa fa-money" aria-hidden="true"></i> <span>Entregas</span>
    </a>
</li>
<li<%= value === 'fleteros' ? ' class=active' : '' %>>
    <a href="/terranorte/transporte/fleteros">
        <i class="fa fa-truck" aria-hidden="true"></i> <span>Transportes</span>
    </a>
</li>
<li<%= value === 'reportes' ? ' class=active' : '' %>>
    <a href="/terranorte/seguimiento/reporte">
        <i class="fa fa-pie-chart" aria-hidden="true"></i><span>Reportes</span>
    </a>
</li>